# Dependências
node_modules/
package-lock.json

# Arquivos de ambiente
.env
.env.local
.env.*.local

uploads/

# Logs
logs
*.log
npm-debug.log*

# Diretório de build
dist/
build/

# Diretório de cobertura de testes
coverage/

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.temp 